In [1]:
import numpy as np
import pandas as pd

# General pandas fun

In [2]:
np.random.random_sample((2,2))

array([[0.47137301, 0.628648  ],
       [0.7681059 , 0.66000872]])

In [5]:
col_names = ["phoenix_wingspan", "phoenix_loudness", "dragon_wingspan", "dragon_loudness"]
df = pd.DataFrame(np.random.random_sample((10,4)), columns=col_names)

In [6]:
df

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
1          0.919165          0.942880         0.041168         0.658366
2          0.183624          0.418337         0.564733         0.730053
3          0.850515          0.338971         0.764109         0.917149
4          0.130591          0.216495         0.214754         0.962781
5          0.518888          0.703005         0.172694         0.974215
6          0.416404          0.707881         0.335542         0.708503
7          0.229119          0.475176         0.142482         0.875665
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442

## Subsetting

### 1. Columns

In [8]:
# access individual columns as Series
df["phoenix_loudness"]

0    0.892284
1    0.942880
2    0.418337
3    0.338971
4    0.216495
5    0.703005
6    0.707881
7    0.475176
8    0.335180
9    0.297674
Name: phoenix_loudness, dtype: float64

In [10]:
# access individual columns as DataFrame
column = ["phoenix_loudness"]
df[column]

   phoenix_loudness
0          0.892284
1          0.942880
2          0.418337
3          0.338971
4          0.216495
5          0.703005
6          0.707881
7          0.475176
8          0.335180
9          0.297674

In [11]:
# access multiple columns as DataFrame
df[["phoenix_loudness", "phoenix_loudness", "phoenix_loudness", "dragon_wingspan"]]

   phoenix_loudness  phoenix_loudness  phoenix_loudness  dragon_wingspan
0          0.892284          0.892284          0.892284         0.120638
1          0.942880          0.942880          0.942880         0.041168
2          0.418337          0.418337          0.418337         0.564733
3          0.338971          0.338971          0.338971         0.764109
4          0.216495          0.216495          0.216495         0.214754
5          0.703005          0.703005          0.703005         0.172694
6          0.707881          0.707881          0.707881         0.335542
7          0.475176          0.475176          0.475176         0.142482
8          0.335180          0.335180          0.335180         0.778105
9          0.297674          0.297674          0.297674         0.798848

### 1.1 Sorting

In [18]:
df.sort_values("phoenix_loudness", ascending=False)

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
1          0.919165          0.942880         0.041168         0.658366
0          0.030474          0.892284         0.120638         0.767342
6          0.416404          0.707881         0.335542         0.708503
5          0.518888          0.703005         0.172694         0.974215
7          0.229119          0.475176         0.142482         0.875665
2          0.183624          0.418337         0.564733         0.730053
3          0.850515          0.338971         0.764109         0.917149
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442
4          0.130591          0.216495         0.214754         0.962781

In [19]:
df

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
1          0.919165          0.942880         0.041168         0.658366
2          0.183624          0.418337         0.564733         0.730053
3          0.850515          0.338971         0.764109         0.917149
4          0.130591          0.216495         0.214754         0.962781
5          0.518888          0.703005         0.172694         0.974215
6          0.416404          0.707881         0.335542         0.708503
7          0.229119          0.475176         0.142482         0.875665
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442

## 2. rows


**Subsetting based on condition <=> Filtering**

In [22]:
# only rows with phoenix_loudness < 0.5
df["phoenix_loudness"]

0    0.892284
1    0.942880
2    0.418337
3    0.338971
4    0.216495
5    0.703005
6    0.707881
7    0.475176
8    0.335180
9    0.297674
Name: phoenix_loudness, dtype: float64

In [24]:
df["phoenix_loudness"] < 0.5
# this operation returns a boolean map

0    False
1    False
2     True
3     True
4     True
5    False
6    False
7     True
8     True
9     True
Name: phoenix_loudness, dtype: bool

In [26]:
df[df["phoenix_loudness"] < 0.5]

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
2          0.183624          0.418337         0.564733         0.730053
3          0.850515          0.338971         0.764109         0.917149
4          0.130591          0.216495         0.214754         0.962781
7          0.229119          0.475176         0.142482         0.875665
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442

In [29]:
# subsetting based on boolean map
philter = [True, False, True, False, False, False, False, False, False, False,]
df[philter]

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
2          0.183624          0.418337         0.564733         0.730053

**Subsetting columns and rows at once**

In [32]:
df[["phoenix_wingspan", "phoenix_loudness"]][philter]

   phoenix_wingspan  phoenix_loudness
0          0.030474          0.892284
2          0.183624          0.418337

In [35]:
df[["phoenix_wingspan", "phoenix_loudness"]][df["dragon_wingspan"] > 0.7]

   phoenix_wingspan  phoenix_loudness
3          0.850515          0.338971
8          0.291194          0.335180
9          0.022141          0.297674

**using `.loc[rows,cols]`**

In [36]:
df.loc[df["dragon_wingspan"] > 0.7, ["phoenix_wingspan", "phoenix_loudness"]]

   phoenix_wingspan  phoenix_loudness
3          0.850515          0.338971
8          0.291194          0.335180
9          0.022141          0.297674

In [38]:
# all rows and all columns
df.loc[:,:]

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
1          0.919165          0.942880         0.041168         0.658366
2          0.183624          0.418337         0.564733         0.730053
3          0.850515          0.338971         0.764109         0.917149
4          0.130591          0.216495         0.214754         0.962781
5          0.518888          0.703005         0.172694         0.974215
6          0.416404          0.707881         0.335542         0.708503
7          0.229119          0.475176         0.142482         0.875665
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442

In [44]:
df.loc[:5, "phoenix_wingspan"]

0    0.030474
1    0.919165
2    0.183624
3    0.850515
4    0.130591
5    0.518888
Name: phoenix_wingspan, dtype: float64

In [45]:
df.loc[:5, ["phoenix_wingspan"]]

   phoenix_wingspan
0          0.030474
1          0.919165
2          0.183624
3          0.850515
4          0.130591
5          0.518888

In [48]:
df.index = range(100,110)

In [49]:
df

     phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
100          0.030474          0.892284         0.120638         0.767342
101          0.919165          0.942880         0.041168         0.658366
102          0.183624          0.418337         0.564733         0.730053
103          0.850515          0.338971         0.764109         0.917149
104          0.130591          0.216495         0.214754         0.962781
105          0.518888          0.703005         0.172694         0.974215
106          0.416404          0.707881         0.335542         0.708503
107          0.229119          0.475176         0.142482         0.875665
108          0.291194          0.335180         0.778105         0.278170
109          0.022141          0.297674         0.798848         0.643442

In [50]:
df.loc[:5,:]

Empty DataFrame
Columns: [phoenix_wingspan, phoenix_loudness, dragon_wingspan, dragon_loudness]
Index: []

In [54]:
# reset index
df = df.reset_index(drop=True)

In [56]:
df.loc[df["phoenix_wingspan"] < .5]

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
2          0.183624          0.418337         0.564733         0.730053
4          0.130591          0.216495         0.214754         0.962781
6          0.416404          0.707881         0.335542         0.708503
7          0.229119          0.475176         0.142482         0.875665
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442

In [58]:
df.loc[df["dragon_wingspan"] < .5]

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
1          0.919165          0.942880         0.041168         0.658366
4          0.130591          0.216495         0.214754         0.962781
5          0.518888          0.703005         0.172694         0.974215
6          0.416404          0.707881         0.335542         0.708503
7          0.229119          0.475176         0.142482         0.875665

In [61]:
df.loc[(df["phoenix_wingspan"] < .5) & (df["dragon_wingspan"] < .5), ["dragon_loudness"]]

   dragon_loudness
0         0.767342
4         0.962781
6         0.708503
7         0.875665

```sql
SELECT
    dragon_loudness
FROM df
WHERE phoenix_wingspan < .5
    AND dragon_wingspan < .5
```

---

What if I don't care about the labels???

In [64]:
df

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
1          0.919165          0.942880         0.041168         0.658366
2          0.183624          0.418337         0.564733         0.730053
3          0.850515          0.338971         0.764109         0.917149
4          0.130591          0.216495         0.214754         0.962781
5          0.518888          0.703005         0.172694         0.974215
6          0.416404          0.707881         0.335542         0.708503
7          0.229119          0.475176         0.142482         0.875665
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442

In [63]:
df.iloc[0,0]

0.03047430311003574

In [65]:
df.iloc[2:5,:3]

   phoenix_wingspan  phoenix_loudness  dragon_wingspan
2          0.183624          0.418337         0.564733
3          0.850515          0.338971         0.764109
4          0.130591          0.216495         0.214754

## 3. Adding and removing columns

In [66]:
df

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
1          0.919165          0.942880         0.041168         0.658366
2          0.183624          0.418337         0.564733         0.730053
3          0.850515          0.338971         0.764109         0.917149
4          0.130591          0.216495         0.214754         0.962781
5          0.518888          0.703005         0.172694         0.974215
6          0.416404          0.707881         0.335542         0.708503
7          0.229119          0.475176         0.142482         0.875665
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442

In [68]:
# Approach 1: assign and if not exist, create
df["penguin_wingspan"] = np.random.random_sample((10,1))

In [71]:
df = df.drop(columns=["penguin_wingspan"])

In [72]:
df

   phoenix_wingspan  phoenix_loudness  dragon_wingspan  dragon_loudness
0          0.030474          0.892284         0.120638         0.767342
1          0.919165          0.942880         0.041168         0.658366
2          0.183624          0.418337         0.564733         0.730053
3          0.850515          0.338971         0.764109         0.917149
4          0.130591          0.216495         0.214754         0.962781
5          0.518888          0.703005         0.172694         0.974215
6          0.416404          0.707881         0.335542         0.708503
7          0.229119          0.475176         0.142482         0.875665
8          0.291194          0.335180         0.778105         0.278170
9          0.022141          0.297674         0.798848         0.643442

In [74]:
# Approach 2: assign
df = df.assign(penguin_wingspan=np.random.random_sample((10,1)))

In [75]:
df

,phoenix_wingspan,phoenix_loudness,dragon_wingspan,dragon_loudness,penguin_wingspan
0,0.030474,0.892284,0.120638,0.767342,0.940055
1,0.919165,0.942880,0.041168,0.658366,0.635732
2,0.183624,0.418337,0.564733,0.730053,0.546424
3,0.850515,0.338971,0.764109,0.917149,0.298445
4,0.130591,0.216495,0.214754,0.962781,0.900849
5,0.518888,0.703005,0.172694,0.974215,0.968659
6,0.416404,0.707881,0.335542,0.708503,0.881513
7,0.229119,0.475176,0.142482,0.875665,0.990462
8,0.291194,0.335180,0.778105,0.278170,0.810269
9,0.022141,0.297674,0.798848,0.643442,0.436928

In [77]:
df = df.assign(penguin_loudness=np.random.random_sample((10,1)))

In [78]:
df

,phoenix_wingspan,phoenix_loudness,dragon_wingspan,dragon_loudness,penguin_wingspan,penguin_loudness
0,0.030474,0.892284,0.120638,0.767342,0.940055,0.886761
1,0.919165,0.942880,0.041168,0.658366,0.635732,0.068536
2,0.183624,0.418337,0.564733,0.730053,0.546424,0.316548
3,0.850515,0.338971,0.764109,0.917149,0.298445,0.008950
4,0.130591,0.216495,0.214754,0.962781,0.900849,0.084583
5,0.518888,0.703005,0.172694,0.974215,0.968659,0.161352
6,0.416404,0.707881,0.335542,0.708503,0.881513,0.605600
7,0.229119,0.475176,0.142482,0.875665,0.990462,0.823220
8,0.291194,0.335180,0.778105,0.278170,0.810269,0.404290
9,0.022141,0.297674,0.798848,0.643442,0.436928,0.578884

In [80]:
df = df[["dragon_wingspan", "dragon_loudness", "penguin_wingspan", "penguin_loudness"]]

In [81]:
df

   dragon_wingspan  dragon_loudness  penguin_wingspan  penguin_loudness
0         0.120638         0.767342          0.940055          0.886761
1         0.041168         0.658366          0.635732          0.068536
2         0.564733         0.730053          0.546424          0.316548
3         0.764109         0.917149          0.298445          0.008950
4         0.214754         0.962781          0.900849          0.084583
5         0.172694         0.974215          0.968659          0.161352
6         0.335542         0.708503          0.881513          0.605600
7         0.142482         0.875665          0.990462          0.823220
8         0.778105         0.278170          0.810269          0.404290
9         0.798848         0.643442          0.436928          0.578884